<h1>Products</h1>
<div class="form-group">
  <div class="mb-6">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" [(ngModel)]="name">
    </div>
    <div class="form-group">
      <label>Model</label>
      <input class="form-control" [(ngModel)]="model">
    </div>
  </div>
  <div class="mb-6">
    <div class="form-group">
      <label>Brand</label>
      <input class="form-control" [(ngModel)]="brand">
    </div>
    <div class="form-group">
      <label>Description</label>
      <input class="form-control" [(ngModel)]="description">
    </div>
  </div>
</div>
<button (click)="onClickSearch($event)"  class="btn btn-lg btn-info">Search</button>
<p *ngIf="!products"><em>Loading...</em></p>

<table class='table' *ngIf="products">
  <thead>
    <tr>
      <th>Name</th>
      <th>Model</th>
      <th>Brand</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.model }}</td>
      <td>{{ product.brand }}</td>
      <td>{{ product.description }}</td>
    </tr>
  </tbody>
</table>
